---
---
/* TODO consolidate tag and classes
  standardize markdown structure
*/

{% include css/reset.css %}
{% include css/fonts.css %}

/* page */
body {
  overflow-x:hidden;
  text-rendering: optimizeLegibility;
	font-family: 'Courier New', monospace;
  font-size:12pt;
  color:#444;
  }
a,
a:visited {
  color:#444;
  }
h1,
h2,
p,
pre {
  height:auto;
  }
em {
  font-style:italic;
  }
strong {
  font-weight:bold;
  }
/* cover */
.cover {
  text-align:center;
  height:100%;
  background:0 100% no-repeat;
  background-size: 100%;
  }
.cover h1{
  padding:20% 0 10%;
  }
/* play*/
.play {
  max-width:8.5in; /*paper*/
  margin:auto;
  padding:1in;
  text-align:left;
  }
.play h1,
.play h2,
.play p,
.play pre {
  width:100%;
  margin-top:12pt;
  line-height:1.6em;
  }
/* better spacing */
.play p {
  margin:22pt 0;
}
/* act, scene, chracter name */
.play h1,
.play h2 {
  text-align:center;
  margin-top:12pt;
  text-transform:uppercase;
  }
/* quote in conversation */
.play em {
  font-family:'Crimson Text', Garamond, Georgia, serif;
  }
/* stage direction - inline */
.play pre {
  padding-left:1in;
  text-transform: lowercase;
  }
/* stage direction - right */
.play blockquote {
  padding-left:2in;
  text-transform: uppercase;
  margin-top:12pt;
  }
.play blockquote p {
  padding:0 0 1em;
  line-height:1.6em;
  }
/* footer */
.footer {
  padding:6em;
  text-align: center;
  font-family: 'Crimson Text',serif;
  font-size:0.8em;
  line-height:1.6em;
  }

/* mobile */
@media only screen and (max-width:768px) {
  .cover {
    height:50%;
  }
}
@media only screen and (max-width:645px) {
  body {
    font-size:0.88em;
    }
  .play {
    padding:2em;
    }
  .play p {
    line-height:1.6em;
    }
  .play pre {
    margin:1.6em 0;
    }
  .play blockquote {
    width:auto;
    margin:1.6em 0;
    padding:2em 2em 1em;
    border:0.08em solid #eee;
    }
  .footer {
    padding:2em;
    text-align:left;
    }
}
/* for print */
@media print {
  .cover {
    color:#444;
    height:100%;
    background: none;
    }
  .cover h1 {
    padding:50% 0 10%;
    }
  .play {
    padding-right:3em;
    }
  .play blockquote {
    width:13.2em;
    }
}

/* second play -- more paper */
.play a {
  text-decoration:none;
  padding:3px;
  background:#fd0;
}
.character {
  text-align:center;
  margin-top:12pt;
  text-transform:uppercase;
}
.direction{
  padding-left:2in;
  text-transform: uppercase;
  margin-top:12pt;
}
.dialogue .direction {
  padding-left:1in;
  text-transform: lowercase;
}