---
layout: default
---
    {% for post in site.categories.blog limit:4 %}
    <small class='date'>{{post.date|date: "%m-%d-%Y"}}</small>
    <div id='{{post.title}}'>
        <a href='{{base}}{{post.url}}'>
            <h2 class='title'><!-- <span class='bullet'>&#8912;&nbsp;&nbsp;</span> -->{{post.title}}<!-- <span class='bullet'>&nbsp;&nbsp;&#8913;</spans> --></h2>
        </a>
        {% if post.map %}
            <div id='{{post.map}}' class='map'></div>
            <script>
                loadMap({
                    layer:'{{post.layer}}',
                    map:'{{post.map}}',
                    lat:{{post.lat}},
                    lon:{{post.lon}},
                    zoom:{{post.zoom}},
                    min:{{post.min}},
                    max:{{post.max}}
                });
            </script>
        {% endif %}
        <div class='text'>
            {{post.content}}
        </div>
    </div>
    {% endfor %}
</div>