<meta charset='UTF-8'/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>Lemony Space</title>
<meta name="title" content="Lemony Space">
<meta name="description" content="a playwright with tech tendencies.">
<meta name="keywords" content="PLAYWRIGHT, PLAYWRITING, DESIGN, WEB DESIGN, INFORMATION DESIGN, INTERACTION DESIGN, PORTFOLIO">
<meta property="og:site_name" content="Lemony Space">
<meta property="og:title" content="Lemony Space">
<meta property="og:url" content="http://lemony.sapce">
<meta property="og:image" content="{{site.baseurl}}/images/color.png">
<meta property="og:description" content="a playwright with tech tendencies.">
<meta property="twitter:description" content="a playwright with tech tendencies.">
<meta name="twitter:image:src" content="{{site.baseurl}}/images/color.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@jue_yang">
<meta name="robots" content="index, follow">
{% if page.layout == 'poems'%}
<link rel="stylesheet" href="poems.css" type="text/css" />
{% else %}
<link rel="stylesheet" href="{{site.baseurl}}/css/site.css" type="text/css" />
{% endif %}
<link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico" type="image/x-icon">
<script src="{{site.baseurl}}/js/jquery-1.8.0.min.js"></script>
<script src="{{site.baseurl}}/js/lettering.js"></script>
<script src="{{site.baseurl}}/js/smooth-scroll.min.js" type="text/javascript"></script>