  <nav class='central'>
    <div class="col12">
      <a class='col4'
        {% if page.previous.url != null and page.previous.categories contains "blog" %}
        href='{{page.previous.url}}'
        {% else%}
        style='visibility:hidden;'
        {% endif %}>
        ⤆
      </a>

      <a class='col4' href="/thoughts">
        <em>all thoughts</em>
      </a>

      <a class='col4'
      {% if page.next.url != null %}
      href='{{page.next.url}}'
      {% else %}
      style='visibility:hidden;'
      {% endif %}>
        ⤇
      </a>
    </div>
  </nav>
