/*-------- resume --------*/
.resume {
  padding:80px;
}
.resume .annotation{
  width:50%;
  padding:20px;
  font-size:0.75em;
  background-color: #ffffee;
}
.resume .table-container {
  display:table;
  width:100%;
}
.resume .cell {
  display:table-cell;
}

.resume .cell.time {
  width:120px;
}
.resume a {
  cursor: pointer;
}
.resume h1 {
  text-align: center;
  margin:20px;
}
.resume h2 {
  text-align: left;
  margin:10px 0;
}
.resume h2:before {
  content:'>';
  position:absolute;
  margin-left:-20px;
}
.resume h3 {
  margin:20px;
  padding:20px;
  border-top:1px solid #efefef;
  border-bottom:1px solid #efefef;

}
.resume a {
  text-decoration: underline;
}
.resume span.time {
  display: inline-block;
  margin-right:20px;
  min-width:120px;
}
.resume span.geo {
  font-size:0.75em;
  font-weight:normal;
  color:#aaa;
}

.resume h4 {
  text-decoration: underline;
}

.experiences {
  margin-top:4px;
}
.experiences p {
  padding-right:20px;
  margin-left:20px;
}
.experiences p:before,
.experiences ul li:before {
  content:'-';
  position:absolute;
  margin-left:-20px;
}
.experiences ul {
  margin-bottom:20px;
}
.experiences ul li{
  margin-left:40px;
  font-size:0.85em;
}
.experiences ul li a{
  text-decoration: underline;
}
.resume table {
  width:100%;
  margin:20px 0;
}
.resume tr td {
  padding:10px 0;
}
.resume tr td:first-child {
  font-weight:bold;
  font-size:1em;
}
.resume tr td:last-child {
  font-size:1em;
}