h1 {
    font-family:'Open Sans Condensed', sans-serif;
    font-size:3.2em;
}

h2 {
    font-family:'Open Sans Condensed', sans-serif;
    font-size:1.4em;
    margin:20px 0;
}

p {
    font-family: 'EB Garamond', serif;
    font-size:0.9em;
    margin:10px 0;
    line-height:1.6em;
}

small {
    font-family:'Open Sans Condensed', sans-serif;
    font-size:0.9em;
    margin:10px 0;
}

a {
    text-decoration:none;
    color:#444;
}

.clearfix {display:block;}

.margin0 {margin:40px 0 0 60px;}

.pad0 {padding:0px 60px;}
.pad1 {padding:40px 0 0 60px;}

.width {
    width:90%;
    max-width:520px;
    margin:40px 0;
}

.use-sprite {
    background:transparent url(../images/sprite.png) no-repeat;
}

.date {
    color:#aaa;
}
.map {
    height:300px;
    -moz-box-shadow:    0px 0px 3px #ccc;
    -webkit-box-shadow: 0px 0px 3px #ccc;
    box-shadow:         0px 0px 3px #ccc;
}

#header {
    height:96px;
    background-position:44px 26px;
}

#main-nav {
    position:absolute;
    top:70px;
    left:360px;
    font-family:'Open Sans Condensed', sans-serif;
}

#main-nav li{
    display:inline;
    margin:0 10px;
}

#footer {
    height:100px;
    border-top:1px dashed #ccc;
}