/*-------- Animation ---------*/
/* fade in */
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* fade out */
@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-moz-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-o-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
  }

@-webkit-keyframes wave {
  0%{
    height:50%;
  }
  50%{
    height:100%;
  }
  100%{
    height:50%;
  }
}

.fadeOut,.fadeIn {
400ms linear 100ms both
400ms linear 100ms both
400ms linear 100ms both
400ms linear 100ms both
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/*-------- Font and Fauna ---------*/
body {
  color:#111;
  font-family:'Crimson Text', STXihei, "华文细黑",serif;
  font-size:22px;
  font-weight:normal;
  line-height:1.6em;
  text-rendering:optimizeLegibility;
  overflow-x:hidden;
  }
body * {
  box-sizing: border-box;
}
h1, h3{
  margin:80px 0;
  }
h2 {
  font-family:'Roboto Condensed',sans-serif;
  text-align:center;
  font-weight:bold;
  font-size:0.95em;
  }
h1.peace {
  font-size:35px;
  }
h1.sign:before {
  content:'';
  }
span.date {
  display:inline-block;
  font-size:0.5em;
  color:#aaa;
  }
h3 {
  text-align: center;
  }
a {
  text-decoration:none;
  color:#444;
  }
p,li {
  font-size:1em;
  margin:22px 0;
  }
h1 a, p a, li a{
  text-decoration:underline;
  }
strong {
  font-weight:bold;
  }
em {
  font-style:italic;
  }
img {
  max-width:95%;
  }
blockquote > p{
  line-height:2.2em;
  }
blockquote {
  padding:40px 60px;
  margin:40px 0;
  background:#f8f8f8;
  }
blockquote.chinese p{
  font-size:0.78em;
  line-height:2.5em;
}
hr {
  margin:40px 0;
  border: 1px solid #eee;
}
small {
  font-size:0.8em;
  color:#444;
  }
/* Code Blocks & Pre */
code,
pre {
  padding: 5px;
  font-family: Inconsolata, monospace;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  }
pre {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  }
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
  }
footer {
  color:#111;
  text-align: center;
  }
/*--------Util---------*/

.rotating {
  -webkit-animation: rotating 1100ms linear infinite;
  }
.central {
    position:relative;
    display:block;
    width:80%;
    max-width:520px;
    margin-left:auto;
    margin-right:auto;
  }

.pad-top {padding-top:40px;}
.pad-bottom {padding-bottom:20px;}
.pad-topbottom {padding:40px 0;}
.pad-side {padding:0 60px;}
.pad-topleft {padding:40px 0 0 60px;}

/* for landing */
.veer-left {margin-left:-80px;}
.veer-left-double {margin-left:-160px;}
.veer-right {margin-right:-80px;}
.veer-right-double {margin-right:-160px;}

.col2,
.col3,
.col4,
.col6,
.col12 {
  float:left;
  }
.col2 {width:16.667%;}
.col3 {width:25%;}
.col4 {width:33.333%;}
.col6 {width:50%;}
.col12 {width:100%;}
.cf:after, .cf:before {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
/*-------- Layout ---------*/
.post {
  margin:60px auto;
  }

nav a{
  text-align:center;
  color:#aaa;
}

nav a:hover {
  text-decoration: none!important;
  color:#111;
}

nav a:first-of-type {
  text-align: left;
}

nav a:last-of-type {
  text-align: right;
  }

.illustration, .chapter-divider {
  height:600px;
  background-size:cover;
  padding:80px;
  }
.illustration, .chapter {
  letter-spacing: 1px;
}
.chapter-divider {
  height:180px;
  }
.illustration.intro {
  background-image:url('../images/self.png');
}
.illustration.eye {
  height:400px;
  background-image:url('../images/eye.png');
}
.chapter-divider.d0 {
  background-image:url('../images/divider0.png');
}
.chapter-divider.d1 {
  background-image:url('../images/divider1.png');
}
.chapter-divider.d2 {
  background-image:url('../images/divider2.png');
}
.chapter-divider.d3 {
  background-image:url('../images/divider3.png');
}
.main .chapter {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAIUlEQVQYV2M8fvz4f0tLS0YGNIAhAJMnTgLZWOJ0INsPAD1wCAcNmCtAAAAAAElFTkSuQmCC) repeat;
  padding:40px;
}
.main .chapter h2 {
  text-align: left;
}
.showcase em:before { /* play titles on landing page*/
  content:"❲";
  font-style: normal;
  display: inline-block;
  margin-right:10px;
  }
.showcase em:after {
  content:"❳";
  font-style: normal;
  display: inline-block;
  margin-left:10px;
  }
.divider {
  text-align:center;
  font-size:9px;
  }
.divider:first-child {
  display:none;
  }
.title li {
  display:inline-block;
  }
.date {
  margin-left:6px;
  }
.post-content {
  margin-bottom:40px;
  }
.sign {
  text-align: center;
  }
/* lettering experiment */
.circle p {
  position:relative;
  left:50%;
  margin-top:100px;
  height:560px;
}
.circle p span {
  font: 10px Monaco, MonoSpace;
  height: 560px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}
.slant span {
  display:block;
  }
/* shiguang */
.shiguang {
  height:440px;
}
.shiguang ul li{
  float:left;
  border-right:1px solid #fff;
  cursor:pointer;
}
.shiguang ul li blockquote.active {
  background:#444;
  color:#fff;
  -webkit-animation: fadeIn 400ms linear 100ms both;
  -moz-animation:    fadeIn 400ms linear 100ms both;
  -o-animation:      fadeIn 400ms linear 100ms both;
  animation:         fadeIn 400ms linear 100ms both;
}
.shiguang ul li blockquote.inactive {
  -webkit-animation: fadeOut 400ms linear 100ms both;
  -moz-animation:    fadeOut 400ms linear 100ms both;
  -o-animation:      fadeOut 400ms linear 100ms both;
  animation:         fadeOut 400ms linear 100ms both;
}

/*-------- Small Screen ---------*/
@media screen and (max-width:1120px) {
  .portfolio .thumb {
    background-position:30%;
  }
}
@media screen and (max-width:1000px) {
  .portfolio .architecture .col4 {
    width:50%;
  }
}
@media screen and (max-width:645px) {
  blockquote {
    padding:20px 40px;
  }
  .col3,
  .col4,
  .col6,
  .col12 {
    width:100%!important;
  }
  .veer-left,
  .veer-right,
  .veer-left-double,
  .veer-right-double {
    margin:0;
  }
  .central {
    width:100%;
  }
  .illustration {
    height:auto;
  }
  .illustration.intro {
    padding:40px;
  }
  .illustration.intro p:last-of-type {
    display:inline;
    background:#cacaca;
  }
  .illustration.eye {
    height:180px;
  }
  #print {
    display:none;
  }
  .resume,
  .portfolio section {
    padding:40px;
  }
  .portfolio .thumb,
  .portfolio .full {
    height:200px;
  }
  .name ul.nav {
    font-size:0.75em;
  }
  .resume h3.others {
    padding:40px 20px;
  }
  .resume .name {
    height:120px;
  }
  .resume .experiences {
    margin-top:80px;
  }
  .resume .name ul {
    margin:0 40px;
  }
  .resume .name ul.nav {
    margin:20px 40px 40px;
  }
  .resume .name ul li {
    padding-right:10px;
  }
  .resume h2 span.place:before,
  .resume h2 span.time:before {
    content:'';
    display:block;
  }
  .resume h2 span.geo {
    padding:0;
    margin:0;
    display:block;
  }

  .experiences p {
    margin-left:0;
  }
  .experiences p:before {
    content:'';
  }
  .resume tr td:last-child {
    padding-left:20px;
  }
  .post {
    margin:40px 0;
  }
  .wave{
    -webkit-animation-name:initial;
  }
  .shiguang {
    height:auto;
    position:relative;
  }
  .shiguang ul li {
    width:100%;
    float:none;
  }
  .shiguang p {
    text-align:center;
  }
}