---
layout: default
---
<div class='archive'>
	<h1>To begin</h1>
	<h1>With an ocean of noise</h1>
	{% for post in site.categories.blog %}
	  <!-- <small>{{post.date|date: "%m-%d-%Y"}}</small> -->
	  <a href='{{site.baseurl}}{{post.url}}'>
	      <h2>{{post.title}}</h2>
	  </a>
	{% endfor %}
	<h1>That ends</h1>
	<h1>At dumb symmetry</h1>
	<a href='{{site.baseurl}}/about'>
	<nav class='central pad-topbottom'>
	  <h2>Does it make sense</h2>
	  <p>(No)</p>
	  <h2>Try harder</h2>
	</nav>
	</a>
<div>
