---
layout: default
---

<div class='central pad-top pad-bottom'>
	<p><em>This page consists of documentations of my previous work. Some of these used to be a stated feature of this website, but not anymore. I hope the archive provides some context for my current practice as a writer and filmmaker. (Note: links in these documentations might be broken or partially broken since I no longer actively maintain them.)</em></p>
	<div class="pad-top pad-bottom col12 cf">
		<p><a href="https://oldworkbyjue.tumblr.com/" target="_blank">portfolio, 2012</a></p>
		<p><a href="{{site.baseurl}}/portfolio">portfolio, 2014</a></p>
		<p><a href="https://medium.com/newer-work" target="_blank">portfolio, 2016</a></p>
		<p><a href="{{site.baserul}}/resume">resume, 2016</a></p>
		<p><a href="{{site.baseurl}}/poems">poems from poetry workshop, 2013</a></p>
		<p><a href="{{site.baseurl}}/unnamable">play from first playwriting workshop, 2014</a></p>
		<p><a href="{{site.baseurl}}/artist-rooms" target="_blank"><em>Artist Rooms</em>, data and web project, 2014</a></p>
	</div>

    {% include sign.html %}
</div>