---
layout: default
---

<div class='central pad-top pad-bottom'>
	<p><em>My previous careers and aspirations are archived here. The list is by no means comprehensive, but what kind of archive is ever complete? Links on these pages might be broken, since I no longer maintain these documents.</em></p>
	<div class="pad-top pad-bottom col12 cf">
		<p><a href="https://oldworkbyjue.tumblr.com/" target="_blank">portfolio, 2012</a></p>
		<p><a href="{{site.baseurl}}/poems">poems, 2013</a></p>
		<p><a href="{{site.baseurl}}/portfolio">portfolio, 2014</a></p>
		<p><a href="{{site.baseurl}}/unnamable">play, 2014</a></p>
		<p><a href="{{site.baseurl}}/artist-rooms" target="_blank"><em>Artist Rooms</em>, 2014</a></p>
		<p><a href="https://medium.com/newer-work" target="_blank">portfolio, 2016</a></p>
		<p><a href="{{site.baserul}}/resume">resume, 2016</a></p>
	</div>

    {% include sign.html %}
</div>