---
layout: default
---
<div class="resume col12 cf">
	<div class="col6 cf">
		<ul class="links">
			<li>Jue Yang | artist, writer, filmmaker </li>
			<li>For work prior to 2017, please refer to the <a href="{{site.baseurl}}/resume-old">older resume</a></li>
			<li><a href="{{site.baseurl}}/">Back to main page</a></li>
		</ul>
	</div>
	<section class="col12 cf">
		<h3>Education</h3>
		<!-- MA -->
		<div class="table-container">
			<div class="cell time">
				<p>2018-2020</p>
			</div>
			<div class="cell">
				<p>M.A Fine Art and Design: Lens-based Media. Piet Zwart Institute. <span class="geo">Rotterdam, NL</span></p>
			</div>
		</div>
		<!-- Playwriting -->
		<div class="table-container">
			<div class="cell time">
				<p>2015-2016</p>
			</div>
			<div class="cell">
				<p>Workshops in playwriting, directing and dramaturgy. Various: Yale Writers’ Conference, Herbert Berghof Studio, The Primary Stages Einhorn School of Performing Arts, Dramatists Guild Institute. <span class="geo">New Haven, CT & NYC, US</span></p>
			</div>
		</div>
		<!-- BA -->
		<div class="table-container">
			<div class="cell time">
				<p>2008-2012</p>
			</div>
			<div class="cell">
				<p>B.A. Geography and Architectural Studies. Middlebury College. <span class="geo">VT, US</span></p>
			</div>
		</div>
		<div class="table-container">
			<div class="cell time">
				<p>2010 Aug-Dec</p>
			</div>
			<div class="cell">Architecture. Danish Institute for Study Abroad. <span class="geo">Copenhagen, DK</span></div>
		</div>
	</section>
	<section class="col12 cf">
		<h3>Solo Exhibition</h3>
		<!-- 2022 -->
		<div class="table-container">
			<div class="cell time">
				<p>2022</p>
			</div>
			<div class="cell">
				<p>Units of Keeping. Daily Practice. <span class="geo">Rotterdam, NL</span></p>
			</div>
		</div>
	</section>
	<section class="col12 cf">
		<h3>Group Exhibitions and Screenings</h3>
		<!-- 2023 -->
		<div class="table-container">
			<div class="cell time">
				<p>2023</p>
			</div>
			<div class="cell">
				<p>Constructs of Dwelling. R.S.O.L. <span class="geo">Deventer, NL</span></p>
				<p>The ROAR Festival. Orangerie Theater x YAYA. <span class="geo">Cologne, DE</span></p>
			</div>
		</div>
		<!-- 2022 -->
		<div class="table-container">
			<div class="cell time">
				<p>2022</p>
			</div>
			<div class="cell">
				<p>Cinedans FEST'22. <span class="geo">Amsterdam, NL</span></p>
				<p>18th Athens Digital Arts Festival. <span class="geo">Athens, GR</span></p>
				<p>45th Norwegian Short Film Festival. <span class="geo">Grimstad, NO</span></p>
				<p>68th Oberhausen International Short Film Festival. <span class="geo">Oberhausen, DE</span></p>
			</div>
		</div>
		<!-- 2021 -->
		<div class="table-container">
			<div class="cell time">
				<p>2021</p>
			</div>
			<div class="cell">
				<p>The 12th Seoul Metro International Subway Film Festival. <span class="geo">Seoul, KR</span></p>
				<p>ARGOS Projector: The Faraway Nearby. ARGOS centre for audiovisual arts. <span class="geo">Brussels, BE</span></p>
			</div>
		</div>
		<!-- 2020 -->
		<div class="table-container">
			<div class="cell time">
				<p>2020</p>
			</div>
			<div class="cell">
				<p>The 9th Kranj International Festival of Fine Arts. Various venues. Kranj, SL <span class="geo">Kranj, SL</span></p>
				<p>Art in Corona Times. 60sec.org. <span class="geo">Online, based in DK</span></p>
				<p>EYE on Art Research Labs '20. Eye Filmmuseum. <span class="geo">Amsterdam, NL</span></p>
			</div>
		</div>
		<!-- 2019 -->
		<div class="table-container">
			<div class="cell time">
				<p>2019</p>
			</div>
			<div class="cell">
				<p>Garage Cafe #9. Garage Rotterdam. <span class="geo">Rotterdam, NL</span></p>
				<p>Alienated Realities. Self-organized. <span class="geo">Rotterdam, NL</span></p>
				<p>Miasma I. Self-organized. <span class="geo">Rotterdam, NL</span></p>
				<p>Miasma II. Self-organized. <span class="geo">London, UK</span></p>
				<p>EYE on Art Research Labs '19. Eye Filmmuseum. <span class="geo">Amsterdam, NL</span></p>
			</div>
		</div>
		<!-- 2018 -->
		<div class="table-container">
			<div class="cell time">
				<p>2018</p>
			</div>
			<div class="cell">
				<p>25th Internet Yami Ichi. <span class="geo">Utrecht, NL</span></p>
				<p>Wild Within. Guest Projects. <span class="geo">London, UK</span></p>
			</div>
		</div>
		<!-- 2016 -->
		<div class="table-container">
			<div class="cell time">
				<p>2016</p>
			</div>
			<div class="cell">
				<p>Invented Traditions. HATCH Series. <span class="geo">NYC, US</span></p>
			</div>
		</div>
	</section>
	<section class="col12 cf">
		<h3>Selected Activities</h3>
		<!-- ongoing -->
		<div class="table-container">
			<div class="cell time">ongoing</div>
			<div class="cell">
				<p>Contributor to Dutch art magazine Metropolis M, think-tank organization Platform Beeldende Kunst. Previous contributor to European film magainze Talking Shorts (2021-2022). Read more in <a href="https://linktr.ee/jueyang" target="_blank">selected writings</a></p>
			</div>
		</div>
		<!-- 2023 -->
		<div class="table-container">
			<div class="cell time">2023</div>
			<div class="cell">
				<p>Facilitator at "Shaping Solidarity in the Arts: Booklaunch, Conversation and Soup". Co-orgaznied by Valiz, de Appel and Platform BK. <span class="geo">Amsterdam, NL</span></p>
			</div>
		</div>
		<!-- 2022 -->
		<div class="table-container">
			<div class="cell time">2022</div>
			<div class="cell">
				<p>Selected participant at Oberhausen Seminar during the 68th Oberhausen International Short Film Festival. <span class="geo">Oberhausen, DE</span></p>
				<p>Presenter at the circle talk during the exhibition “The Echo To Every Footstep: Connecting intercultural stories from East Asian Southeast Asian perspectives”. <span class="geo">Rotterdam, NL</span></p>
				<p>Presenter at “Talking, Reading, Watching Collectively”. Co-organized by Auguste Orts, Beursschouwburg, Harlan Levey Projects and elephy. <span class="geo">Brussels, BE</span></p>
			</div>
		</div>
		<!-- 2021 -->
		<div class="table-container">
			<div class="cell time">2021</div>
			<div class="cell">
				<p>Presenter at the Inward Outward Symposium. Co-organized by KITLV, Beeld en Geluid and supported by the Research Center of Material Culture. <span class="geo">Online, based in NL</span></p>
			</div>
		</div>
		<!-- 2020 -->
		<div class="table-container">
			<div class="cell time">2020</div>
			<div class="cell">
				<p>Commissioned to publish “We do not travel alone: a reflection on film production” in a reader by On & For Production and Distribution, a previous European project on artist’s moving images.</p>
				<p>Selected participant for the roundtable advisory discussion at “Fair International Cultural Cooperation — Language”, co-hosted by DutchCulture during the Forum on European Culture. <span class="geo">Amsterdam, NL</span></p>
				<p>Volunteer juror for group exhibition proposals for Apexart NYC (also in 2017 and 2018).</p>
			</div>
		</div>
		<!-- 2018 -->
		<div class="table-container">
			<div class="cell time">2018</div>
			<div class="cell">
				<p>Speaker at Open Stage. Art Amsterdam x ArtReview Conference. <span class="geo">Amsterdam, NL</span></p>
			</div>
		</div>
		<!-- 2016 -->
		<div class="table-container">
			<div class="cell time">
				<p>2016</p>
			</div>
			<div class="cell">
				<p>Selected playwright at the Living Room Theater incubator and the 24-hour play fest by Dirty Blondes Theater x Kraine Theater.  Self-produced short plays at Secret Theatre, Manhattan Repertory Theater and Herbert Berghof Studio</p>
			</div>
		</div>
	</section>
	<section class="col12 cf">
		<h3>Grants</h3>
		<!-- 2022 -->
		<div class="table-container">
			<div class="cell time">
				<p>2022</p>
			</div>
			<div class="cell">
				<p>Research and Development Grant (O&O). CBK Rotterdam</p>
				<p>Kunst Media. Mondriaan Fund</p>
				<p>Funding for exhibition production. Stichting Stokroos</p>
				<p>Steunfonds Startende Makers. Pictoright Steunfonds</p>
			</div>
		</div>
		<!-- 2021 -->
		<div class="table-container">
			<div class="cell time">
				<p>2021</p>
			</div>
			<div>
				<p>Temporary work contribution for Production, Presentation and Research (PPR). CBK Rotterdam</p>
				<p>Makersloket. Stichting Droom en Daad</p>
			</div>
		</div>
		<!-- 2018/2016-->
		<div class="table-container">
			<div class="cell time">
				<p>2018</p>
			</div>
			<div class="cell">
				<p>STEP Travel Fund. European Cultural Foundation</p>
			</div>
		</div>
	</section>
	<section class="col12 cf">
		<h3>Arist Residencies</h3>
		<div class="table-container">
			<div class="cell time">
				<p>2023</p>
			</div>
			<div class="cell">
				<p>Atelier Simeon ten Holt. <span class="geo">Bergen, NL</span></p>
			</div>
		</div>
		<div class="table-container">
			<div class="cell time">
				<p>2018</p>
			</div>
			<div class="cell">
				<p>Joya: Arte + Ecología. <span class="geo">Vélez-Blanco, ES</span></p>
				<p>Mothership NYC. <span class="geo">NYC, US</span></p>
			</div>
		</div>
		<div class="table-container">
			<div class="cell time">
				<p>2017</p>
			</div>
			<div class="cell">
				<p>Arteles Creative Center. <span class="geo">Haukijärvi, FI</span></p>
				<p>La Wayaka Current. <span class="geo">Sørøya, NO</span></p>
				<p>The Lab Program @ Pandeo. <span class="geo">Mexico City, MX</span></p>		
			</div>
		</div>
	</section>
	{% include sign.html %}
</div>