<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Good Lemons</title>
    <link rel="stylesheet" href="{{site.baseurl}}/site.css" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600|Open+Sans+Condensed:300,700" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico" type="image/x-icon">
    <script src="{{site.baseurl}}/site.js"></script>
</head>
<body>
  <a href='{{site.baseurl}}/'>
    <header class='central pad-top'>
      <div id='frame'></div>
      <div id='front-wheel'></div>
      <div id='rear-wheel'></div>
    </header>
  </a>
  <section class='central'>
      {{content}}
  </section>

  <script>
  if (!smallScreen()){
      $('header').on('mouseover',function(){
      $('#front-wheel').addClass('rotating-fast');
      $('#rear-wheel').addClass('rotating');
    }).on('mouseout',function(){
      $('#front-wheel').removeClass('rotating-fast');
      $('#rear-wheel').removeClass('rotating');
    });
  }
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34646537-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>