---
layout: default
---
<div class='central'>
	<h1>Currently: <a href='https://instagram.com/itno.h'>itno.h</a> | <a href='/plays' target='_blank'>plays</a>
	<h1> 
		<a href='/poems' target='_blank'>poems</a> | 
		<a href='/portfolio'>portfolio, newer</a> | 
		<a href='http://oldwork.tumblr.com/'>portfolio, old</a> | 
		<a href='/artist-rooms' target='_blank'>rooms</a> | 
		<a href='https://instagram.com/the.train' target='_blank'>the.train</a> | 
		<a href='https://medium.com/they-said-w4m-is-too-short-for-a-collection-title'>they-said-w4m-is-too-short-for-a-collection-title</a> | 
		<a href='/archive' target='_blank'>thoughts</a>
	</h1>
</div>