---
layout: default
---

<div class="central">
  <div class="illustration veer-left veer-right">

  	<h1>x.</h1>

	<p><em>I have forgotten the word for jasmine,</em> the woman in yellow said.</p>
	<p><em>Oh,</em> the woman in green said. She wanted to quote the lyrics from the only song she knew in Chinese. Now she held them with half a breath.</p>
	<p><em>It's strange to forget such a common word</em>, the woman in yellow said.</p>
	<p><em>Well, it's — </em></p>
	<p><em>No. Don't remind me. It has gone so far. For so long. When I think about it — and I am thinking about it now — it does not exist. For me, anymore. Ha. I am not offended. Or sad. I don't feel a thing. Strange, and incredible.</em></p>
	<p><em>How — but how can you forget?</em></p>
	<p><em>I am not forgetting. It's like the old building of my memory is taken over by ivies, their leaves covering the bricks, their roots cracking the red clay in half. The dwellers are gone, if there were dwellers at all. There is no expunction. No violence. Just time. Quietness.</em></p>
	<p>The woman in yellow closed her eyes and inhaled. Her chest rose and rose and rose. When it finally fell again, she looked into the sky. <em>I don't remember how it smelled.</em></p>
	<p>Her companion looked at her with terror. <em>It's a pity,</em> said the woman in green, trying to turn her disbelief into sympathy.</p>
	<p><em>Not a tragedy, to not miss what I no longer know.</em> The woman in yellow smiled, her eyes hazel under the sun.</p>
	<p><em>Hao yi duo mei li de muo li hua, hao yi duo mei li de muo li hua...</em> The woman in green hummed in Chinese.</p>
	<p><em>What is the song?</em></p>
	<p><em>Mo li hua.</em></p>

	<h3>*</h3>

	<h1>This site belongs to the writer and filmmaker, Jue Yang. If you have never been here before, take it as a sign from the universe and come back in two months. May you be safe, healthy and free of harm. (Written in the Netherlands, Apr 2020)</h1>
  </div>
</div>