---
layout: default
---
<div class='central'>
  <div class='col12 self'>
    <p class='col6'><em>Jue Yang</em> is a playwright with <a href="/resume">tech tendencies</a>. Catch a version of her <a href="/talking-in-circles" target='_blank'>story</a>, and maybe <a href="/something-beyond-that-minute" target='_blank'>another</a>. in</p>
  </div>
  <h1><span>Showcased Plays</span>
    <ul>
    {% for post in site.categories.play %}
      {% if post.external %}
      <li class='pad-bottom'><a href='{{post.external}}' target='_blank'>
        <em>{{post.title}}</em>, {{post.time}}
        <!-- <img src='{{site.baseurl}}/images/{{post.image}}'> -->
      </a></br>
      {{post.venue}} | {{post.occassion}}
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </h1>
  <h1><span>Projects & Works</span>
    <ul>
    {% for post in site.categories.homey %}
      <li><a href='{{post.link}}' {% if post.external %} target='_blank' {% endif %}>{{post.title}}, {{post.time}}</a></li>
    {% endfor %}
    </ul>
  </h1>
</div>