---
layout: default
---
{% assign venueLength = false %}
<!-- start of central -->
<div class="central">
  <div class="illustration intro veer-left">
    <h2 style="text-align:center;">Jue Yang: An Introduction </h2>
    <p>I am an artist, trans-media writer, playwright.</p>
    <p>I am intrigued by: emergence, empathy, expedition, language, meditation, memory, ontology, time, truth.</p>
    <p>Below is a brief introduction to my practice and trajectory. For the impatient reader, here is my <a href="{{site.baseurl}}/recent/JY-cv.pdf" target="_blank">cv</a>.</p>
  </div>
  <!-- start of main -->
  <div class="main">
    <div class="chapter">
      <h2>The Present</h2>
      <p>Having considered text as my main medium, I am now enrolled in a Master's progam in Lens-based Media at the <a href="http://www.pzwart.nl/" target="_blank">Piet Zwart Institute</a>.</p>
      <p>In this <a href="{{site.baseurl}}/recent/JY-portfolio.pdf" target="_blank">portfolio</a> I summarize the direction of my work that has led me here.</p>
      <p>I live in Rotterdam, the Netherlands.</p>
    </div>
    <div class="chapter-divider d0 veer-right"></div>
    <div class="chapter">
      <h2>Residencies</h2>
      <p>I continue to explore different spaces in my practice through traveling and artist residencies.</p>
      <ul>
        {% for post in site.categories.residency %}
        <li>{{post.title}}. {{post.place}}. {{post.time}}.
        {% if post.external %}
        <a href="{{post.external}}" target="_blank"><em>link</em></a>
        {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="chapter-divider d1 veer-left"></div>
    <div class="chapter">
      <h2>Playwright</h2>
      <p>For a period of time I found freedom in the simple form of writing, and sometimes making, plays.</p>
      <ul>
      {% for post in site.categories.play %}
        <!-- post.venue.length is an array -->
        {% assign venueLength = post.venue| size %}
        {% assign loopLength = venueLength | minus:1 %}
        {% if venueLength > 1 and post.external %}
        <li class="showcase">
          <em>{{post.title}}</em></br>
          {% for i in (0..loopLength) %}
          {{post.venue[i]}}. {{post.occassion[i]}}. {{post.time[i]}}.</br>
          {% endfor %}
        </li>
        {% elsif post.external %}
        <li class="showcase">
          <em>{{post.title}}</em></br>
          {{post.venue}}. {{post.occassion}}. {{post.time}}.
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    <div class="chapter-divider d2 veer-right"></div>
    <div class="chapter">
      <h2>Identities in Transition</h2>
      <p>Three (older) portfolios summarize my education and experiences as a cartographer, aspiring architect, and technologist.</p>
      <ul>
        {% for post in site.categories.portfolio %}
        <li>
        <a href="{{post.link}}" target="_blank">{{post.time}}</a></li>
        {% endfor%}
        <li>from the living archive: <a href="/resume" target="_blank">a somewhat conventional resume</a></li>
        <li><a href="/the-quest" target="_blank">a play in which I try to find out who I am, 2015</a></li>
      </ul>
    </div>
    <div class="chapter-divider d3 veer-right"></div>
    <div class="chapter">
      <h2>Inklings of a Practice</h2>
      <p>I created some projects independent of any specific frameworks. I'm thankful for this period of blind productivity.</p>
      <ul>
      {% for post in site.categories.homey %}
        {% unless post.categories contains "portfolio"%}
        <li>
        <a href="{{post.link}}" target="_blank">{{post.title}}, {{post.time}}</a></li>
        {% endunless %}
      {% endfor %}
        <li>
          <a href="/thoughts" target="_blank">a limited collection of the things I wrote</a></br>
        </li>
        <li>
          And, I almost forgot: <a href="unnamable" target="_blank">my first-everplay (that was a typo, but I think it's a good word), 2013</a>.
        </li>
      </ul>
    </div>
    <div class="illustration eye veer-left veer-right"></div>
  </div>
  <!-- end of .main -->
  {% include footer.html %}
</div>
<!-- end of .central -->