---
layout: default
---

<div class="central">
  <div class="illustration veer-left veer-right">

	<p><em>I have forgotten the word for jasmine,</em> the woman in yellow said.</p>
	<p><em>Oh</em>, the woman in green said. She wanted to quote the lyrics from the only song she knew in Chinese. Instead, she held them with half a breath.</p>
	<p><em>It's strange to forget a common word like this</em>, the woman in yellow said.</p>
	<p><em>Well, it's — </em></p>
	<p><em>No. Don't remind me. It has gone so far and for so long that it is no longer in my memory. That's quite amazing, when I think about it, and I am thinking about it now. It does not exist — for me — and I don't feel a thing about the fact that it does not exist — for me.</em></p>
	<p><em>But — how can you forget?</em></p>
	<p><em>I am not forgetting. My memory has decided that it will no longer know it. And apparently my memory made this decision without telling me about it. There was no expunction. There was no fading. Jasmine.</em> The woman in yellow closed her eyes. For a a moment she tried. She was in awe of her discovery. <em>I don't even remember how it smelled.</em></p>
	<p>The woman in green looked at her in disbelief.</p>
	<p><em>There's nothing to worry about.</em> The woman in yellow noticed her companion's terror.</p>
	<p><em>It's a pity.</em></p>
	<p><em>How do I miss what I no longer know?</em> The woman in yellow smiled. The sun made her eyes hazel.</p>
	<p><em>Hao yi duo mei li de muo li hua, hao yi duo mei li de muo li hua...</em> The woman in green hummed in Chinese.</p>
	<p><em>What is the song about?</em></p>
	<p><em>Jasmine.</em></p>

	<h3>Jue Yang is a writer and filmmaker. You can contact her at lemony.space[at]gmail.com.  May you be safe and healthy. (Netherlands, Apr 2020)</h3>
  </div>
</div>