---
layout: default
---

<div class="central">
  <div class="illustration veer-left veer-right">

  	<h1>Departure</h1>
 
	<p><em>I have forgotten the word for jasmine,</em> the woman in yellow said.</p>
	<p><em>Oh,</em> the woman in green said. She wanted to quote the lyrics from the only song she knew in Chinese. Now she held them with half a breath.</p>
	<p><em>It's strange to forget such a common word</em>, the woman in yellow said.</p>
	<p><em>Well, it's — </em></p>
	<p><em>Don't remind me. Don't. It has gone so far. For so long. When I think about it — and I am thinking about it now — it does not exist. For me. Anymore. I am not offended. I am not... sad. Not...numb. Not...indifferent? Wow. Something incredible has happened. A memory has ceased to occupy space. Distance, foreignness, non-exisitence have blended into one.</em></p>
	<p><em>How — but how do you even forget?</em></p>
	<p><em>The ivies, they take over the old building of memory. Their leaves cover the bricks. Their roots crack the red clay. Into dust you go. The dwellers are gone, the tea is cold, the cup is a chip on the ground. Here is a site for archeology. No expunction. No violence. Just time, and the sound of birds.</em></p>
	<p>The woman in yellow closed her eyes and inhaled. Her chest rose and rose and rose. When it finally fell again, she looked into the sky. There was no answer. <em>I don't remember what it smelled like. Perhaps that counts as forgetting?</em></p>
	<p>Her companion looked at her with terror. <em>It's a pity,</em> the woman in green said, masking her disbelief with sympathy.</p>
	<p><em>To not miss what I no longer know?</em> The woman in yellow smiled, her eyes hazel under the sun.</em></p>
	<p><em>Hao yi duo mei li de muo li hua, hao yi duo mei li de muo li hua...</em> The woman in green hummed.</p>
	<p><em>What is the song?</em></p>
	<p><em>Muo li hua.</em></p>

	<h3>*</h3>

	<p>This site belongs to the writer and filmmaker, Jue Yang. If you have never been here before, take it as a sign from the universe and come back in a month or two. May you be safe and healthy. May you be free from harm and affliction. May you be happy.</p>

	<h3>Written in the Netherlands. April 2020.</h3>
  </div>
</div>