---
---
<html>
<head>
    <meta charset='UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Good Lemons</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/play.css" type="text/css" />
    <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico" type="image/x-icon">
</head>
<body>
	<div class='cover'>
		<h1 class='title'>{{page.title}}</h1>
		<h2 class='author'>Jue Yang</h2>
	</div>
	<div class='play'>
		{{page.content | markdownify}}
	</div>

	<div class='footer'>
		{{page.title}} is a play by <a href='{{site.baseurl}}/'>Jue Yang</a>. {% if page.footer %}{{page.footer}}{% endif %}
	</div>

</body>