---
layout: default
---
{% for post in site.categories.play %}
	<h1>
		<a href='{{site.baseurl}}{{post.url}}'>{{post.title}}</a>
	</h1>
{% endfor %}
<div class='central'>
	<p>...These are my plays.</p>
	<p>Right now they only live on the screen. You see the words, comprehend the words, imagine the words turning into an environment, a darkness, a sweetness, a state of confusion. Or you let them stand in their lankiness against the blaring white. They are plays on paper: unrehersed, unproduced, unknown.</p>
	<p>These plays have not yet borne any reponsibilities to a theater, nor audience, which in a way allows me to change them rather independently. Hence, what you read here is a moment of something frozen -- it might thaw and evaporate and freeze once more, never returning to the same shape.</p>
	<p>This freedom, however, yearns for a framework. Plays are not products of solitude. They need execution, and I need camaraderie.</p>
	<p>I once wrote, among many other things I did: <em>Texts can manifest as music, concrete poetry, or serve a communicative function. Dialogues can be autobiographical, fictional, read, or performed. God can be the 12-year-old next door, an ensemble of wise dogs, an anthromorphized belief like a piece of googly-eyed old news, a circular thought whose beginning and ending are but semantics that no longer exist.</em> I want to keep adding to that collection of thoughts by learning more about the stage, however you define it.</p>
	<p>If you would like to share ideas, criticisms, processes, experiences, please, <a href="mailto:jueyang22@gmail.com">I am listening</a>.</p>
</div>
