---
layout: default
published: true
---

<div class='portfolio'>
	<section class='maps cf'>
		<div class='ocean cf'>
			<h1>I was once fascinated by the ocean</h1>
			{% for post in site.categories.maps %}
			{% assign img = post.title | downcase | split:' ' | join:'-' %}

			{% if post.tags contains 'ocean' %}
				{% include preview.html %}
			{% endif%}
			{% endfor %}
		</div>
		<div class='land cf'>
			<h1>and the land</h1>
			{% for post in site.categories.maps %}
			{% assign img = post.title | downcase | split:' ' | join:'-' %}

			{% if post.tags contains 'land' %}
				{% include preview.html %}
			{% endif%}
			{% endfor %}
		</div>
	</section>
	<section class='architecture cf'>
		<h1>the lines</h1>
		{% for i in (1..6) %}
		{% assign index = forloop.index %}
			<div class='col4 cf'>
				<span class='full' style='background-image:url(images/thumb/arch-{{index}}.png)'></span>
			</div>
		{% endfor %}
		<div class='intro col12 cf'>Sketches, drawings and models from architecture thesis in 2011</div>
	</section>
	<section class='doodle'>
		<h1>and the shapes</h1>
		{% for post in site.categories.doodles %}
		{% assign img = post.title | downcase | split:' ' | join:'-' %}
			<div class='col4 cf'>
				<span class='full' style='background-image:url(images/thumb/{{img}}.png)'>
			</div>
		{% endfor %}
		<div class='intro col12 cf'>Graphic materials for developmentseed.org <a href='http://developmentseed.org/blog' target='_blank'>blog posts</a></div>
	</section>
	<section class='websites cf'>
		<div class='data cf'>
			<h1>I have plunged into the sea of data, discovered new patterns</h1>
			{% for post in site.categories.websites %}
			{% assign img = post.title | downcase | split:' ' | join:'-' %}

			{% if post.tags contains 'data' %}
				{% include preview.html %}
			{% endif %}
			{% endfor %}
		</div>
		<div class='other cf'>
			<h1>and created systems</h1>
			{% for post in site.categories.websites %}
			{% assign img = post.title | downcase | split:' ' | join:'-' %}

			{% if post.tags contains 'other' %}
				{% include preview.html %}
			{% endif %}
			{% endfor %}
		</div>
		<h1>
			Ever so constantly</br>
			I am <a href='http://ia.net/blog/learning-to-see/' target='_blank'>learning to see</a>
		</h1>
	</section>
	{% include sign.html %}

</div>
<script>
function sameHeight(context){
	var intros = $('.intro',context);

	heights = intros.map(function(){
		return $(this).height();
	}).get()

	var maxHeight = Math.max.apply(null, heights);

	intros.height(maxHeight + 10);
}

sameHeight('.ocean');
sameHeight('.land');
sameHeight('.websites');
</script>