---
layout: default
---

<div class='resume col12 cf'>
	<section class='col12 cf'>
		<h2>jue yang</h2>
		<div class='col6 cf'>
			<p>artist, writer, filmmaker</p>
			<p>CN (1988-2007)</p>
			<p>US (2008-2016)</p>
			<p>NL (2018- now)</p>
		</div>
	</section>

	<section class="col6 cf">
		<h3>Experiences</h3>
		<h2>Speaker</h2>
		<p>Open Stage<br>Art Amsterdam x ArtReview Conference<br>11/2018</p>
		<h2>Juror</h2>
		<p>Group Exhibition Open Call<br>Apexart NYC<br>11/2017 & 03/2018</p>
		<h2>Selected Writer</h2>
		<p>Short Play Incubator<br>Living Room Theater. NYC, US<br>10-11/2016</p>
		<p>24-hour Play Festival<br>Dirty Blondes Theater. NYC, US<br>07/2016</p>
		<p>Playwriting Workshop<br>Yale Writers’ Conference. New Haven, CT, US<br>06/2016</p>
		<h2>Full-time Work</h2>
		<p>Technologist in Residence<br>Graduate School of Journalism at<br>City University of New York. NYC, US<br>2014-2016</p>
		<p>Web Designer & Frontend Developer<br>Development Seed. Washington DC, US<br>2012-2014</p>
	</section>

	<section class="col6 cf">
		<h3>Publications</h3>

		<h2>2019</h2>
		<p>An Unwillingness to Forget (performance)<br>Garage Cafe #9. Rotterdam, NL</p>

		<h2>2018</h2>
		<p>Selected Statuses (zine)<br>25th Internet Yami Ichi. Utrecht, NL</p>
		<p>Polvareda (photo poem)<br>photodust.org</p>

		<h2>2016</h2>
		<p>Slices (short play)<br>Secret Theatre. NYC, US</p>
		<p>The Last One Here (short play)<br>Living Room Theater. NYC, US</p>
		<p>Filter (short play)<br>Manhattan Repertory Theater. NYC, US</p>
		<p>Remains (short play)<br>Dirty Blondes Theater & Kraine Theater. NYC, US</p>
		<p>Things You Cannot Have (short play)<br>Manhattan Repertory Theater. NYC, US</p>
		<p>NEXUS (one-act play)<br>Herbert Berghof Studio First-floor Theater. NYC, US</p>
	</section>

	<div class="cf"></div>

	<section class="col4 cf">
		<h3>Group Exhibitions</h3>

		<h2>2019</h2>
		<p>Alienated Realities<br>Rotterdam, NL</p>
		<p>MIASMA I & II<br>Rotterdam, NL & London, UK</p>
		<p>EYE Research Lab<br>Amsterdam, NL</p>

		<h2>2018</h2>
		<p>Wild Within<br>London, UK</p>

		<h2>2016</h2>
		<p>HATCH Series: Invented Traditions<br>NYC, US</p>
	</section>

	<section class="col4 cf">
		<h3>Artist Residencies</h3>
		<h2>2018</h2>
		<p>Joya: Arte + Ecología. Vélez-Blanco, ES<br><em>supported by STEP Travel Grant from European Cultural Foundation</em></p>
		<p>Mothership NYC. NYC, US</p>
		<h2>2017</h2>
		<p>Arteles Creative Center. Haukijärvi, FI</p>
		<p>La Wayaka Current. Sørøya, NO</p>
		<p>The Lab Program @ Pandeo. Mexico City, MX</p>
		<h2>2016</h2>
		<p>Herbert Berghof Studio. NYC, US</p>
	</section>

	<section class="col4 cf">
		<h3>Education</h3>
		<h2>2018-2020</h2>
		<p>M.A. Fine Art and Design: Lens-based Media (expecting)<br>Piet Zwart Institute. Rotterdam, NL</p>
		<h2>2015-2016</h2>
		<p>Playwriting, Directing, Dramaturgy<br>Herbert Berghof Studio/ESPA Primary Stages/Dramatists Guild Institute. NYC, US</p>
		<h2>2008-2012</h2>
		<p>B.A. Geography and Architectural Studies<br>Middlebury College. Middlebury, VT, US</p>
		<h2>2010</h2>
		<p>Architecture<br>Danish Institute for Studying Abroad. Copenhagen, DK</p>
	</section>
</div>