---
layout: default
---
<div class='resume col12 cf'>
	<section class='central cf'>
		<h2><a href="{{site.baseurl}}/">jue yang</a></h2>
		<p>writer, filmmaker</p>
	</section>

	<div class="cf"></div>

	<section class='central cf'>
		<h3>an abridged history</h3>
		<p>mom & dad/nationality: +86</p>
		<p>formulating/overworking/identity politics/bagels: +1</p>
		<p>traveling & artist residencies: +++ (para español oprima dos)</p>
		<p>here & now/diasporic.decaf/not without love: +31</p>
	</section>

	<div class="cf"></div>

	<section class="central cf">
		<h3>experiences</h3>

		<h2>Currently Writing For</h2>
		<p>Metropolis M</p>
		<p>Talking Shorts</p>

		<h2>Other Publications</h2>
		<p>Asia-Europe Foundation Culture360 Magazine <br>03/2021</p>
		<p>On & For Production and Distribution <br>11/2020</p>
		
		<h2>Playwright (Selected)</h2>
		<p>Short Play Incubator<br>Living Room Theater. NYC, US<br>10-11/2016</p>
		<p>24-hour Play Festival<br>Dirty Blondes Theater. NYC, US<br>07/2016</p>
		<p>Playwriting Workshop<br>Yale Writers’ Conference. New Haven, CT, US<br>06/2016</p>

		<h2>Other</h2>

		<p>Speaker <br>Open Stage at Art Amsterdam x ArtReview Conference <br>11/2018</p>
		<p>Selected participant <br>Fair International Cultural Cooperation - Language, part of Forum on European Culture<br>09/2020</p>
		<p>Volunteer juror <br>Group Exhibition Open Call<br>Apexart NYC <br>11/2017, 03/2018, 03/2020, 11/2020</p>

		<h2>Full-time Work (Previous)</h2>
		<p>Technologist in Residence<br>CUNY Graduate School of Journalism. NYC, US<br>2014-2016</p>
		<p>Web Designer & Frontend Developer<br>Development Seed. Washington DC, US<br>2012-2014</p>

	</section>

	<div class="cf"></div>

	<section class="central cf">

		<h3>group exhibition & screening</h3>

		<p>Performing the Lens: The Choreography, Algorithms and Materiality of Imagemaking <br>V2_. Rotterdam, NL<br>04/2021</p>
		<p>Art in Corona Times <br>60sec.org. Based in DK<br>05/2020</p>
		<p>EYE on Art Research Labs <br>Eye Filmmuseum. Amsterdam, NL<br>03/2019, 02/2020</p>
		<p>Alienated Realities <br>Self-organized. Rotterdam, NL<br>05/2019</p>
		<p>MIASMA I & II <br>Self-organized. Rotterdam, NL & London, UK<br>03/2019, 05/2019</p>
		<p>Garage Cafe #9 <br>Garage Rotterdam. Rotterdam, NL<br>02/2019</p>
		<p>Wild Within <br>Guest Projects. London, UK<br>07/2018</p>
		<p>Invented Traditions <br>HATCH Series. NYC, US<br>07/2016</p>
	</section>

	<div class="cf"></div>

	<section class="central cf">

		<h3>projects & plays</h3>

		<p>Selected Statuses (zine)<br>25th Internet Yami Ichi. Utrecht, NL<br>2018</p>
		<p>Polvareda (photo poem)<br>photodust.org<br>Based in AU<br>2018</p>
		<p><em>All following projects were conducted in New York in 2016:</em></p>
		<p>Slices (short play)<br>Secret Theatre</p>
		<p>The Last One Here (short play)<br>Living Room Theater</p>
		<p>Filter (short play) <br>Manhattan Repertory Theater</p>
		<p>Remains (short play)<br>Dirty Blondes Theater & Kraine Theater</p>
		<p>Things You Cannot Have (short play)<br>Manhattan Repertory Theater</p>
		<p>NEXUS (one-act play)<br>Herbert Berghof Studio First-floor Theater</p>

	</section>

	<div class="cf"></div>

	<section class="central cf">

		<h3>artist residencies</h3>
		<p>Joya: Arte + Ecología. Vélez-Blanco, ES. 2018 <br><em>supported by the STEP Travel Grant from European Cultural Foundation</em></p>
		<p>Mothership NYC. NYC, US. 2018</p>
		<p>Arteles Creative Center. Haukijärvi, FI. 2017</p>
		<p>La Wayaka Current. Sørøya, NO. 2017</p>
		<p>The Lab Program @ Pandeo. Mexico City, MX. 2017</p>
		<p>Herbert Berghof Studio. NYC, US. 2016</p></h3>

	</section>

	<div class="cf"></div>

	<section class="central cf">
		<h3>education</h3>
		<h2>2018-2020</h2>
		<p>M.A. Fine Art and Design: Lens-based Media. Piet Zwart Institute. Rotterdam, NL</p>
		<h2>2015-2016</h2>
		<p>Playwriting, Directing, Dramaturgy. Herbert Berghof Studio/ESPA Primary Stages/Dramatists Guild Institute. NYC, US</p>
		<h2>2008-2012</h2>
		<p>B.A. Geography and Architectural Studies. Middlebury College. Middlebury, VT, US</p>
		<h2>2010</h2>
		<p>Architecture. Danish Institute for Studying Abroad. Copenhagen, DK</p>
	</section>

	<hr class="central cf">

	<small class="central cf">
		<p><em>To be of the Middle World is to have broken away from the parochial, to have left "home" for good (or for worse) whilst carrying all of it with you and to have arrived on foreign shores (at the onset you thought of it as "destination", but not for long) feeling at ease there without ever being "at home". Sensing too, that one has now fatally lost the place you may have wanted to run back to.</em></p>
		<p>— Breyten Breytenbach, <em>Notes from the Middle World</em></p>
	</small>

	<hr class="central cf">


	{% include sign.html%}

</div>
