---
layout: default
---
<div class='resume col12 cf'>
	<section class='central cf'>
		<h2>jue yang</h2>
		<p>writer, filmmaker</p>
		<p><em>To be of the Middle World is to have broken away from the parochial, to have left "home" for good (or for worse) whilst carrying all of it with you and to have arrived on foreign shores (at the onset you thought of it as "destination", but not for long) feeling at ease there without ever being "at home". Sensing too, that one has now fatally lost the place you may have wanted to run back to.</em></p>
		<p>— Breyten Breytenbach, <em>Notes from the Middle World</em></p>
	</section>

	<div class="cf"></div>

	<section class='central cf'>
		<h3>an abridged history</h3>
		<h2>1988-2007</h2>
		<p>CN</p>
		<h2>2008-2016</h2>
		<p>US</p>
		<h2>2017-2018</h2>
		<p>Traveling & artist residencies</p>
		<h2>2018-present</h2>
		<p>NL</p>
	</section>

	<div class="cf"></div>

	<section class="central cf">
		<h3>group exhibitions/screenings</h3>
		<h2>2020</h2>
		<p>EYE on Art Research Labs '20. Amsterdam, NL</p>

		<h2>2019</h2>
		<p>Alienated Realities. Rotterdam, NL</p>
		<p>MIASMA I & II. Rotterdam, NL & London, UK</p>
		<p>EYE on Art Research Labs '19. Amsterdam, NL</p>

		<h2>2018</h2>
		<p>Wild Within. London, UK</p>

		<h2>2016</h2>
		<p>HATCH Series: Invented Traditions. NYC, US</p>
	</section>

	<div class="cf"></div>

	<section class="central cf">
		<h3>publications</h3>

		<h2>2019</h2>
		<p>An Unwillingness to Forget (performance). Garage Cafe #9. Rotterdam, NL</p>

		<h2>2018</h2>
		<p>Selected Statuses (zine). 25th Internet Yami Ichi. Utrecht, NL</p>
		<p>Polvareda (photo poem). photodust.org</p>

		<h2>2016</h2>
		<p>Slices (short play). Secret Theatre. NYC, US</p>
		<p>The Last One Here (short play). Living Room Theater. NYC, US</p>
		<p>Filter (short play). Manhattan Repertory Theater. NYC, US</p>
		<p>Remains (short play). Dirty Blondes Theater & Kraine Theater. NYC, US</p>
		<p>Things You Cannot Have (short play). Manhattan Repertory Theater. NYC, US</p>
		<p>NEXUS (one-act play). Herbert Berghof Studio First-floor Theater. NYC, US</p>
	</section>

	<div class="cf"></div>

	<section class="central cf">
		<h3>education</h3>
		<h2>2018-2020</h2>
		<p>M.A. Fine Art and Design: Lens-based Media (expecting). Piet Zwart Institute. Rotterdam, NL</p>
		<h2>2015-2016</h2>
		<p>Playwriting, Directing, Dramaturgy. Herbert Berghof Studio/ESPA Primary Stages/Dramatists Guild Institute. NYC, US</p>
		<h2>2008-2012</h2>
		<p>B.A. Geography and Architectural Studies. Middlebury College. Middlebury, VT, US</p>
		<h2>2010</h2>
		<p>Architecture. Danish Institute for Studying Abroad. Copenhagen, DK</p>
	</section>

	<div class="cf"></div>

	<section class="central cf">
		<h3>experiences</h3>
		
		<h4>Speaker</h4>
		<p>Open Stage<br>Art Amsterdam x ArtReview Conference<br>11/2018</p>
		
		<h4>Juror</h4>
		<p>Group Exhibition Open Call<br>Apexart NYC<br>11/2017 & 03/2018 & 03/2020</p>
		
		<h4>Selected Writer</h4>
		<p>Short Play Incubator<br>Living Room Theater. NYC, US<br>10-11/2016</p>
		<p>24-hour Play Festival<br>Dirty Blondes Theater. NYC, US<br>07/2016</p>
		<p>Playwriting Workshop<br>Yale Writers’ Conference. New Haven, CT, US<br>06/2016</p>
		
		<h4>Full-time Work</h4>
		<p>Technologist in Residence<br>Graduate School of Journalism at<br>City University of New York. NYC, US<br>2014-2016</p>
		<p>Web Designer & Frontend Developer<br>Development Seed. Washington DC, US<br>2012-2014</p>
		
		<h4>Artist Residencies</h4>
		<p>Joya: Arte + Ecología. Vélez-Blanco, ES. 2018 <br><em>supported by STEP Travel Grant from European Cultural Foundation</em></p>
		<p>Mothership NYC. NYC, US. 2018</p>
		<p>Arteles Creative Center. Haukijärvi, FI. 2017</p>
		<p>La Wayaka Current. Sørøya, NO. 2017</p>
		<p>The Lab Program @ Pandeo. Mexico City, MX. 2017</p>
		<p>Herbert Berghof Studio. NYC, US. 2016</p>

		{% include sign.html %}

	</section>

</div>
