---
layout: default
published: true
---
<div class='screen'>
	<section class='col12 cf'>
		<h3><em>...and with deep humility and patience to wait for the hour when a new clarity is born...</em></h3>
		<h3>Rainer Maria Rilke</h3>
	</section>
	<section class='col12 cf'>
		<h3>Scroll down for a (tech) resume of Jue Yang ↓</h3>
	</section>
</div>
<div class='resume'>
	<section class='col12 cf name'>
		<div class='col4 cf'>
			<ul class='links'>
				<li><a href='{{site.baseurl}}/'><h2>Jue Yang</h2></a></li>
				<li class='social'><a href='https://github.com/jueyang'><i class="fa fa-github"></i></a></li>
				<li class='social'><a href='https://www.linkedin.com/in/jueyang'><i class="fa fa-linkedin-square"></i></a></li>
			</ul>
		</div>
		<div class='col4 cf'>
			<ul class='nav'>
				<li><a href='#experiences'>Experiences</a></li>
				<li><a href='#skills'>Skills</a></li>
				<li><a href='#education'>Education</a></li>
				<li><a href='/portfolio'>Portfolio</a></li>
			</ul>
		</div>
		<div class='col4 cf'>
			<a href='#' id='print'><i class="fa fa-print"></i></a>
		</div>
	</section>
	<section class='experiences'>
		<a id='experiences'></a>
		<div class='col12 cf cuny'>
			<h2>Technologist in Residence
				<span class='place'><a href='http://www.journalism.cuny.edu' target='_blank'>CUNY Graduate School of Journalism</a></span>
				<span class='time'>December 2014 - Present</span>
				<span class='geo'>New York, New York</span>
			</h2>
			<p>Led a <a href='https://github.com/jueyang/manage-your-product' target='_blank'>product development studio</a> (summer 2015) for the <a href='http://www.journalism.cuny.edu/academics/social-journalism/' target='_blank'>Social Journalism program</a></p>
			<p>Co-teach and support classes concerning interactive storytelling and coding for journalists</p>
			<p>Organize student teams to participate journalism-related hackathons</p>
			<p>Advocate for the agile teaching environment using <a href='https://github.com/jueyang/manage-your-product/wiki/Communication' target='_blank'>GitHub and Slack</a></p>
			<p>Advise fellows in the <a href='http://www.towknight.org/' target='_blank'>Tow-Knight Entrepreurial Journalism program</a> about their products</p>
			<p>Build side projects such as the <a href='https://scavenger-hunt-2015.herokuapp.com' target='_blank'>scavenger hunt tracking app</a></p>
			<p class='non-list'><em>The list continues to grow...</em></p>
		</div>
		<div class='col12 cf'>
			<h2>Designer & Frontend Developer
				<span class='place'><a href='http://developmentseed.org' target='_blank'>Development Seed</a></span>
				<span class='time'>March 2012 - November 2014</span>
				<span class='geo'>Washington, District of Columbia</span>
			</h2>
			<div class='col4 cf'>
				<h3>I work with others towards the best solution</h3>
				<p>Scope out workflow and technology stack to inform project proposals and budget estimation</p>
				<p>Communicate design solutions with sketches, wireframes, and mockups</p>
				<p>Absorb client feedback and iterate product build</p>
			</div>
			<div class='col4 cf'>
				<h3>I execute what I envision</h3>
				<p>Architect interactions and data structures in HTML/CSS/JavaScript</p>
				<p>Make aesthetic decisions for web projects</p>
				<p>Process and compile data with Python and Make</p>
			</div>
			<div class='col4 cf'>
				<h3>I enjoy working within a nimble team</h3>
				<p>Collaborate with team using Git</p>
				<p>Self-manage project progress</p>
              <p>Responsible for the typography and style redesign of <a href='http://developmentseed.org/' target='_blank'>developmentseed.org</a></p>
			</div>
		</div>
		<div class='col12 cf'>
			<h2>Digital Media Tutor
				<span class='place'><a href='http://www.middlebury.edu/offices/technology/ct/dmt' target='_blank'>Wilson Media Lab</a></span>
				<span class='time'>2008-2012</span>
				<span class='geo'>Middlebury, Vermont</span>
			</h2>
			<p>Core member of the geospatial support team for faculty and students</p>
			<p>Assisted campus users with equipments and software in the media lab</p>
			<p>Offered workshop in using Adobe Illustrator, InDeisgn, and Google Earth</p>
		</div>
		<div class='col12 cf'>
			<h2>Summer Program Coordinator
				<span class='place'><a href='http://thenice.org/' target='_blank'>Northwest Institute for Community Enrichment</a></span>
				<span class='time'>June - August 2010</span>
				<span class='geo'>Corvallis, Oregon</span>
			</h2>
			<p>Worked on a campaign for community engagement and efficient energy use</p>
			<p>Designed graphics and layouts for all campaign materials</p>
		</div>
		<div class='col12 cf'>
			<h2>Marketing Intern
				<span class='place'><a href='http://www.remains.com/' target='_blank'>Remains Lighting</a></span>
				<span class='time'>July - August 2009</span>
				<span class='geo'>Brooklyn, New York</span>
			</h2>
			<p>Produced reference maps for LEED application of the factory building</p>
			<p>Organized a physical tooling library and updated previous tooling inventory</p>
			<p>Compiled and updated client information for a marketing campaign</p>
		</div>
	</section>
	<section class='col12 skills'>
		<a id='skills'></a>
		<h1></h1>
		<div class='col6 cf'>
			<table>
				<tr>
					<td>Design</td>
					<td>Adobe Illustrator/InDesign/Photoshop</br>Inkscape</br>Gimp</br>Natural Scene Designer</td>
				</tr>
				<tr>
					<td>Front-end</td>
					<td>HTML/CSS/SASS</br>Vinalla Javascript</br>D3.js</br>Backbone.js</br>Jekyll</td>
				</tr>
				<tr>
					<td>Back-end</td>
					<td>Node.js</br>Express.js</br>Heroku</td>
				</tr>
			</table>
		</div>
		<div class='col6 cf'>
			<table>
				<tr>
					<td>Workflow</td>
					<td>Git/GitHub</br>Make</br>Slack</td>
				</tr>
				<tr>
					<td>(Geographic) Data</td>
					<td>Quantum GIS</br>ArcGIS</br>Ogr2ogr</br>Topojson</br>Python</br>Leaflet.js</br>MapBox.js</br>CartoDB.js</br>CartoDB SQL API</br>Tilemill</td>
				</tr>
			</table>
		</div>
	</section>
	<section class='col12 education'>
		<a id='education'></a>
		<h1></h1>
		<h2>Middlebury College | 2008-2012</h2>
		<p>Geography and Architectural Studies</p>
		<h2>Danish Institute for Study Abroad | August - December 2010</h2>
		<p>Architecture</p>
	</section>
	{% include sign.html %}
</div>
<script>
$('a[href*=#]:not([href=#])').click(function() {
if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
  var target = $(this.hash);
  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
  if (target.length) {
    $('html,body').animate({
      scrollTop: target.offset().top - 90
    }, 500);
    return false;
  }
}
});
$('#print').on('click',function(){
	window.print();
});
</script>