---
layout: default
---
<div class='resume col12 cf'>
	<div class="col6 cf">
		<ul class="links">
			<li>Jue Yang | prior to 2017 </li>
			<li>This is an older resume. For my experience as a professional artist, please see my current <a href="{{site.baseurl}}/cv">CV</a></li>
			<li><a href="{{site.baseurl}}/">Back to main page</a></li>
		</ul>
	</div>
	<section class='experiences col12 cf'>
		<div class='col12 cf cuny'>
			<h3>Positions</h3>
			<h2>Technologist in Residence
				<span class='place'><a href='http://www.journalism.cuny.edu' target='_blank'>CUNY Graduate School of Journalism</a></span>
				<span class='time'>December 2014 - December 2016</span>
				<span class='geo'>New York, New York</span>
				<br>
				<em>Learning from teaching and sharing knowledge in creative ways</em>
			</h2>
			<div class='col6 cf'>
				<p>Led a <a href='https://github.com/jueyang/manage-your-product' target='_blank'>product development studio</a> (summer 2015) for the <a href='http://www.journalism.cuny.edu/academics/social-journalism/' target='_blank'>Social Journalism program</a></p>
				<p>Support classes and teach workshops concerning coding and workflow for journalists:</p>
				<ul>
					<li><a href='https://github.com/jueyang/know-your-tools' target='_blank'>Git, GitHub, CLI</a></li>
					<li><a href='https://github.com/jueyang/commandandcontrol' target='_blank'>More Command Line Interface</a></li>
					<li><a href='https://github.com/jueyang/get-reggie' target='_blank'>Regex 101</a></li>
					<li><a href='https://github.com/jueyang/get-crafty' target='_blank'>JavaScript and DOM 101</a></li>
					<li><a href='https://medium.com/@jue_yang/intro-to-foundation-ae97079c24da#.3bukuvipv' target='_blank'>Zurb Foundation</a></li>
					<li><a href='http://melouttit.github.io/cuny-programming/' target='_blank'>Co-teach HTML/CSS with Meghan Louttit</a></li>
				</ul>
			</div>
			<div class='col6 cf'>
				<p>Started <a href="https://medium.com/cd-journalism" target='_blank'>cd journalism</a>, a publication for the J-school community on learning about data and web</p>
				<p>Organize student teams to participate journalism-related <a href='https://medium.com/cd-journalism/how-a-hackathon-impact-journalism-can-go-hand-in-hand-98ad1c06bf4f#.kfvbzr5xn' target='_blank'>hackathons</a></p>
				<p>Advise students across the programs (Social, Entreprenurial, general) on building their products</p>
				<p>Built educational projects:</p>
				<ul>
					<li><a href='https://medium.com/newer-work/scavenger-hunt-on-the-go-9353002c6f1b#.towy8qb0l' target='_blank'>Track Your Scavenger Hunt</a></li>
					<li><a href='https://medium.com/newer-work/newsplay-a-game-10f87ac9d078#.s949ayr6k' target='_blank'>NewsPlay</a></li>
				</ul>
			</div>
		</div>
		<div class='col12 cf'>
			<h2>Designer & Frontend Developer
				<span class='place'><a href='http://developmentseed.org' target='_blank'>Development Seed</a></span>
				<span class='time'>March 2012 - November 2014</span>
				<span class='geo'>Washington, District of Columbia</span>
				<br>
				<em>Working towards the best solution with an agile team, excecuting what is envisioned</em>
			</h2>
			<div class='col6 cf'>
				<p>Scope out workflow and technology stack to inform project proposals and budget estimation</p>
				<p>Communicate design solutions with sketches, wireframes, and mockups</p>
				<p>Take client feedback and iterate product build</p>
			</div>
			<div class='col6 cf'>
				<p>Design interactions and data structures in HTML/CSS/JavaScript</p>
				<p>Make aesthetic decisions for web projects</p>
				<p>Process and compile data with Python and Make</p>
				<p>Collaborate with team using Git</p>
				<p>Work asynchronously with teammates</p>
			</div>
		</div>
		<div class='col12 cf'>
			<h2>Digital Media Tutor
				<span class='place'><a href='http://www.middlebury.edu/offices/technology/ct/dmt' target='_blank'>Wilson Media Lab</a></span>
				<span class='time'>2008-2012</span>
				<span class='geo'>Middlebury, Vermont</span>
			</h2>
			<p>Provided geospatial support for faculty and students</p>
			<p>Assisted campus users with equipments and software in the media lab</p>
			<p>Offered workshop in using Adobe Illustrator, InDeisgn, and Google Earth</p>
		</div>
		<div class='col12 cf'>
			<h2>Summer Program Coordinator
				<span class='place'><a href='http://thenice.org/' target='_blank'>Northwest Institute for Community Enrichment</a></span>
				<span class='time'>June - August 2010</span>
				<span class='geo'>Corvallis, Oregon</span>
			</h2>
			<p>Worked on a campaign for community engagement and efficient energy use</p>
			<p>Designed graphics and layouts for all campaign materials</p>
		</div>
	</section>
	<!-- see print.css -->
	<!-- <div class='page-break'></div> -->
	<section class='col12 cf skills'>
		<h3>Skills</h3>
		<div class='col6 cf'>
			<table>
				<tr>
					<td>Design</td>
					<td>Adobe Illustrator/InDesign/Photoshop</br>Inkscape</td>
				</tr>
				<tr>
					<td>Front-end</td>
					<td>HTML/CSS/SASS</br>Vanilla Javascript</br>D3.js</br>Backbone.js</br>Jekyll</td>
				</tr>
				<tr>
					<td>Back-end</td>
					<td>Node.js</br>Express.js</br>Heroku</td>
				</tr>
			</table>
		</div>
		<div class='col6 cf'>
			<table>
				<tr>
					<td>Workflow</td>
					<td>Git/GitHub</br>Make</td>
				</tr>
				<tr>
					<td>(Geographic) Data</td>
					<td>Quantum GIS</br>ArcGIS</br>Ogr2ogr</br>Topojson</br>Python</br>Leaflet.js</br>MapBox.js</br>CARTO.js</br>CARTO SQL API</br>CartoCSS
				</tr>
			</table>
		</div>
	</section>
	<section class='col12 education'>
		<h3>Education</h3>
		<h2>Middlebury College | 2008-2012</h2>
		<p>Geography and Architectural Studies</p>
		<h2>Danish Institute for Study Abroad | August - December 2010</h2>
		<p>Architecture</p>
	</section>
	{% include sign.html %}
</div>