---
layout: default
published: true
---
<!-- <div class='screen'>
	<section class='col12 cf'>
		<h3><em>...and with deep humility and patience to wait for the hour when a new clarity is born...</em></h3>
		<h3>Rainer Maria Rilke</h3>
	</section>
	<section class='col12 cf'>
		<h3>Scroll down for a (tech) resume of Jue Yang ↓</h3>
	</section>
</div> -->
<div class='resume'>
	<section class='col12 cf name'>
		<div class='col4 cf'>
			<ul class='links'>
				<li><a href='{{site.baseurl}}/'><h2>Jue Yang's (tech) Resume</h2></a></li>
				<li class='social'><a href='https://github.com/jueyang'><i class="fa fa-github"></i></a></li>
				<li class='social'><a href='https://www.linkedin.com/in/jueyang'><i class="fa fa-linkedin-square"></i></a></li>
			</ul>
		</div>
		<div class='col4 cf'>
			<ul class='nav'>
				<li><a href='#experiences'>Experiences</a></li>
				<li><a href='#skills'>Skills</a></li>
				<li><a href='#education'>Education</a></li>
				<li>Portfolio
					<a href='http://oldwork.tumblr.com/' target='_blank'>1</a>,
					<a href='/portfolio' target='_blank'>2</a>,
					<a href='https://medium.com/newer-work' target='_blank'>3</a>
				</li>
			</ul>
		</div>
		<div class='col4 cf'>
			<a href='#' id='print'><i class="fa fa-print"></i></a>
		</div>
	</section>
	<section class='experiences'>
		<a id='experiences'></a>
		<div class='col12 cf cuny'>
			<h2>Technologist in Residence
				<span class='place'><a href='http://www.journalism.cuny.edu' target='_blank'>CUNY Graduate School of Journalism</a></span>
				<span class='time'>December 2014 - Present</span>
				<span class='geo'>New York, New York</span>
			</h2>
			<div class='col6 cf'>
				<h3>I learn from teaching</h3>
				<p>Led a <a href='https://github.com/jueyang/manage-your-product' target='_blank'>product development studio</a> (summer 2015) for the <a href='http://www.journalism.cuny.edu/academics/social-journalism/' target='_blank'>Social Journalism program</a></p>
				<p>Support classes and teach workshops concerning coding and workflow for journalists:</p>
				<ul>
					<li><a href='https://github.com/jueyang/know-your-tools' target='_blank'>Git, GitHub, CLI</a></li>
					<li><a href='https://github.com/jueyang/commandandcontrol' target='_blank'>More Command Line Interface</a></li>
					<li><a href='https://github.com/jueyang/get-reggie' target='_blank'>Regex 101</a></li>
					<li><a href='https://github.com/jueyang/get-crafty' target='_blank'>JavaScript and DOM 101</a></li>
					<li><a href='https://medium.com/@jue_yang/intro-to-foundation-ae97079c24da#.3bukuvipv' target='_blank'>Zurb Foundation</a></li>
					<li><a href='http://melouttit.github.io/cuny-programming/' target='_blank'>Co-teach HTML/CSS with Meghan Louttit</a></li>
				</ul>
			</div>
			<div class='col6 cf'>
				<h3>and keep sharing my knowledge</h3>
				<p>Started <a href="https://medium.com/cd-journalism" target='_blank'>cd journalism</a>, a publication for the J-school community on learning about data and web</p>
				<p>Organize student teams to participate journalism-related <a href='https://medium.com/cd-journalism/how-a-hackathon-impact-journalism-can-go-hand-in-hand-98ad1c06bf4f#.kfvbzr5xn' target='_blank'>hackathons</a></p>
				<p>Advise students across the programs (Social, Entreprenurial, general) on building their products</p>
				<p>Built educational projects:</p>
				<ul>
					<li><a href='https://medium.com/newer-work/scavenger-hunt-on-the-go-9353002c6f1b#.towy8qb0l' target='_blank'>Track Your Scavenger Hunt</a></li>
					<li><a href='https://medium.com/newer-work/newsplay-a-game-10f87ac9d078#.s949ayr6k' target='_blank'>NewsPlay</a></li>
				</ul>
			</div>
		</div>
		<div class='col12 cf'>
			<h2>Designer & Frontend Developer
				<span class='place'><a href='http://developmentseed.org' target='_blank'>Development Seed</a></span>
				<span class='time'>March 2012 - November 2014</span>
				<span class='geo'>Washington, District of Columbia</span>
			</h2>
			<div class='col4 cf'>
				<h3>I work with others towards the best solution</h3>
				<p>Scope out workflow and technology stack to inform project proposals and budget estimation</p>
				<p>Communicate design solutions with sketches, wireframes, and mockups</p>
				<p>Absorb client feedback and iterate product build</p>
			</div>
			<div class='col4 cf'>
				<h3>I execute what I envision</h3>
				<p>Architect interactions and data structures in HTML/CSS/JavaScript</p>
				<p>Make aesthetic decisions for web projects</p>
				<p>Process and compile data with Python and Make</p>
			</div>
			<div class='col4 cf'>
				<h3>I enjoy working within a nimble team</h3>
				<p>Collaborate with team using Git</p>
				<p>Self-manage project progress</p>
              <p>Responsible for the typography and style redesign of <a href='http://developmentseed.org/' target='_blank'>developmentseed.org</a></p>
			</div>
		</div>
		<div class='col12 cf'>
			<h2>Digital Media Tutor
				<span class='place'><a href='http://www.middlebury.edu/offices/technology/ct/dmt' target='_blank'>Wilson Media Lab</a></span>
				<span class='time'>2008-2012</span>
				<span class='geo'>Middlebury, Vermont</span>
			</h2>
			<p>Core member of the geospatial support team for faculty and students</p>
			<p>Assisted campus users with equipments and software in the media lab</p>
			<p>Offered workshop in using Adobe Illustrator, InDeisgn, and Google Earth</p>
		</div>
		<div class='col12 cf'>
			<h2>Summer Program Coordinator
				<span class='place'><a href='http://thenice.org/' target='_blank'>Northwest Institute for Community Enrichment</a></span>
				<span class='time'>June - August 2010</span>
				<span class='geo'>Corvallis, Oregon</span>
			</h2>
			<p>Worked on a campaign for community engagement and efficient energy use</p>
			<p>Designed graphics and layouts for all campaign materials</p>
		</div>
		<div class='col12 cf'>
			<h2>Marketing Intern
				<span class='place'><a href='http://www.remains.com/' target='_blank'>Remains Lighting</a></span>
				<span class='time'>July - August 2009</span>
				<span class='geo'>Brooklyn, New York</span>
			</h2>
			<p>Produced reference maps for LEED application of the factory building</p>
			<p>Organized a physical tooling library and updated previous tooling inventory</p>
			<p>Compiled and updated client information for a marketing campaign</p>
		</div>
	</section>
	<section class='col12 skills'>
		<a id='skills'></a>
		<h1></h1>
		<div class='col6 cf'>
			<table>
				<tr>
					<td>Design</td>
					<td>Adobe Illustrator/InDesign/Photoshop</br>Inkscape</td>
				</tr>
				<tr>
					<td>Front-end</td>
					<td>HTML/CSS/SASS</br>Vanilla Javascript</br>D3.js</br>Backbone.js</br>Jekyll</td>
				</tr>
				<tr>
					<td>Back-end</td>
					<td>Node.js</br>Express.js</br>Heroku</td>
				</tr>
			</table>
		</div>
		<div class='col6 cf'>
			<table>
				<tr>
					<td>Workflow</td>
					<td>Git/GitHub</br>Make</td>
				</tr>
				<tr>
					<td>(Geographic) Data</td>
					<td>Quantum GIS</br>ArcGIS</br>Ogr2ogr</br>Topojson</br>Python</br>Leaflet.js</br>MapBox.js</br>CartoDB.js</br>CartoDB SQL API</br>Tilemill</td>
				</tr>
			</table>
		</div>
	</section>
	<section class='col12 education'>
		<a id='education'></a>
		<h1></h1>
		<h2>Middlebury College | 2008-2012</h2>
		<p>Geography and Architectural Studies</p>
		<h2>Danish Institute for Study Abroad | August - December 2010</h2>
		<p>Architecture</p>
	</section>
	{% include sign.html %}
</div>
<script>
$('a[href*=#]:not([href=#])').click(function() {
if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
  var target = $(this.hash);
  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
  if (target.length) {
    $('html,body').animate({
      scrollTop: target.offset().top - 90
    }, 500);
    return false;
  }
}
});
$('#print').on('click',function(){
	window.print();
});
</script>