---
layout: default
---
<div class='central pad-top pad-bottom'>
    <h3><em>Some are more serious than others. Others were young.</em></h3>
    {% for post in site.categories.blog %}
    {% assign year = post.date | date: "%Y" %}
    {% assign yearnext = post.next.date | date: "%Y" %}
    {% assign month = post.date | date: "%m" %}
        {% if year != yearnext %}
        <div class="pad-bottom">
            <div class="col4">
                <h2>{{year}}</h2>
            </div>
            <div class="col8 cf">
                <a href='{{site.baseurl}}{{post.url}}'>{{post.title}}</a>
             </div>
             <div class="cf"></div>
        </div>
    {% else %}
        <div class="pad-bottom">
            <div class="col4" style='height:1px'></div>
            <div class="col8 cf">
                <a href='{{site.baseurl}}{{post.url}}'>{{post.title}}</a>
            </div>
            <div class="cf"></div>
        </div>
    {% endif %}
    {% endfor %}
    {% include sign.html %}
</div>