---
layout: default
---
<div class='central pad-top pad-bottom'>
    <p><em>I used to call this page: blog. I wrote when I felt I had something to say, though I was not always good at saying them. As a result, there were varying degrees of pompousness, obliqueness and typos in the earlier proses. I started writing here again in 2020. Time has passed; both the world and I have changed. One of these changes is the page title, which is now: thoughts.</em></p>

    {% for post in site.categories.blog %}
    {% assign year = post.date | date: "%Y" %}
    {% assign yearnext = post.next.date | date: "%Y" %}
    {% assign month = post.date | date: "%m" %}
        {% if year != yearnext %}
        <div class="pad-top pad-bottom">
            <div class="col4">
                <h2>{{year}}</h2>
            </div>
            <div class="col8 cf">
                <a href='{{site.baseurl}}{{post.url}}'>{{post.title}}</a>
             </div>
             <div class="cf"></div>
        </div>
    {% else %}
        <div class="pad-bottom">
            <div class="col4" style='height:1px'></div>
            <div class="col8 cf">
                <a href='{{site.baseurl}}{{post.url}}'>{{post.title}}</a>
            </div>
            <div class="cf"></div>
        </div>
    {% endif %}
    {% endfor %}
    {% include sign.html %}
</div>